@page
@model midas.Pages.FormModel
@{
    ViewData["Title"] = "Form";
}

<div class="container vh-100 d-flex flex-column justify-content-center m-0">
    <a href="/Index" style="position: absolute; top: 10px; left: 10px; font-size: 24px; text-decoration: none; color: #3b2a18">X</a>
    <div class="row vw-100 justify-content-end">
        <div class="col-md-6 bg-cover-custom p-0">
        </div>
        <div class="col-md-6 p-0">
            <form method="post" class="max-w-600 p-4 mx-auto" enctype="multipart/form-data">
                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    <div class="alert @(Model.Message.Contains("exitoso") ? "alert-success" : "alert-danger")" role="alert">
                        @Model.Message
                    </div>
                }
                <div class="text-center mb-4">
                    <a href="https://www.somosawaq.org">
                        <img class="mb-4" src="~/images/awaq-logo.png" alt="AWAQ Estaciones Biológicas" height="72">
                    </a>
                    <h1 class="h3 mb-3 font-weight-normal">Completa tu perfil</h1>
                    <p>Ingresa tus datos para que conozcamos más de nuestros futuros biomonitores.</p>
                </div>

                <div class="form-label-group mb-2">
                    <label for="birthdate">Fecha de nacimiento</label>
                    <input type="date" id="birthdate" name="birthdate" class="form-control" required>
                </div>

                <div class="form-label-group mb-2">
                    <label for="gender">Género</label>
                    <select id="gender" name="gender" class="form-control custom-select-gender" required>
                        <option value="" disabled selected>Seleccione...</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>

                <div class="form-label-group mb-2">
                    <label for="city">Ciudad</label>
                    <input type="text" id="city" name="city" class="form-control" placeholder="Ex: Buenos Aires, Medellín, etc..." required>
                </div>

                <div class="form-label-group mb-2">
                    <label for="profileImage">Imagen de Perfil</label>
                    <input type="file" id="profileImage" name="ProfileImage" class="form-control" accept="image/jpeg, image/png">
                </div>

                <div class="form-label-group mb-2">
                    <label for="idImage">Imagen de Identificación</label>
                    <input type="file" id="idImage" name="IDImage" class="form-control" required accept="image/jpeg, image/png">
                </div>

                <button class="btn awaq-btn-primary text-white w-100" type="submit">Enviar</button>
                <p class="mt-5 mb-3 text-muted text-center">
                    <a href="https://www.somosawaq.org/somos" class="text-muted" style="text-decoration: none;">&copy; 2024 AWAQ Estaciones Biológicas</a>
                </p>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("profileImage").setAttribute("title", "Selecciona una imagen de perfil");
            document.getElementById("idImage").setAttribute("title", "Selecciona una imagen de identificación");
        });
    </script>
}
